header {
    background: linear-gradient(rgb(26, 32, 44), rgb(58, 70, 89));
    color: white;
    padding-bottom: 4rem;
}
.navbar {
    margin-bottom: 4rem;
}
.nav-link {
    color: white;
    font-weight: 600;
}
.navbar-brand {
    color: white;
    font-weight: 900;
}
.dropdown-item {
    color: #0F0F0F;
}
.navbar-brand:hover, .nav-link:hover {
    color: #E8EEEF;
}
.dropdown-item:hover {
    color: #124750;
}
header h1 {
    font-weight: 900;
    font-size: 1.2rem;
}
header span {
    background-color: #38B2AC;
    padding: 4px 8px 6px 6px;
    border-radius: 4px;
    color: #E6FFFA;
}
header h2 {
    font-weight: 900;
    font-size: 3.2rem;
}
header p {
    font-size: 1.2rem;
}
.btn {
    font-weight: 600;
}
.btn-primary {
    background-color: #38B2AC;
    border-color: #16a29b;
    color: #E6FFFA;
}
.btn-primary:hover {
    background-color: #38B2AC;
    border-color: #16a29b;
    filter: brightness(85%);
    transition: all 0.5s ease;
}
#users {
    background-color: #e4e9f2;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}
#users h1 {
    font-weight: 900;
    font-size: 1rem;
}
#users img {
    height: 60px;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
#users img:hover {
    filter: grayscale(0%);
}
#example {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#example h1 {
    font-weight: 600;
    font-size: 1.2rem;
}
#example h2 {
    font-weight: 900;
    font-size: 2.5rem;
}
#showcase {
    background: linear-gradient(white, rgb(209, 244, 237));
    color: white;
    padding-bottom: 4rem;
}
#showcase #features {
    padding: 35px 10px 15px 0px;
    background-color: white;
    color: #0F0F0F;
    border-radius: 10px;
    font-size: 0.9rem;
    -webkit-box-shadow: 10px 10px 51px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -23px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -23px rgba(0,0,0,0.75);
}
#examples_library {
    color:rgb(26, 32, 44);
    padding-top: 5rem;
    /* padding-bottom: 5rem; */
}
#examples_library h1 {
    font-weight: 900;
    font-size: 3rem;
}
#examples_library a {
    color: #38B2AC;
    font-weight: 700;
    text-decoration: none;
}
footer {
    background: linear-gradient(rgb(26, 32, 44), rgb(58, 70, 89));
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 0.8rem;
}
footer h1 {
    font-weight: 900;
    font-size: 1.5rem;
}
footer h2 {
    font-weight: 400;
    font-size: 0.7rem;
}